<nav class="navbar navbar-expand-lg navbar-dark bg-grey">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-lemon text-light-green"></i> <span class="text-white"> FruitStore</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

    </div>
    <span class="navbar-text" *ngIf="isLoged()">
      <a href="javascript:void(0);" *ngIf="returnRole() != 'admin'" class="btn" (click)="openModal(template)">
        <i class="fas fa-shopping-cart fa-lg text-white"></i> <span class="badge bg-info text-white rounded-circle" *ngIf="items.length > 0">{{ items.length }}</span>
      </a>
      |
      <a href="javascript:void(0);" (click)="logout()" class="btn">
        <i class="fas fa-power-off fa-lg"></i>
      </a>
    </span>
  </div>
</nav>

<ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title pull-left">Carrinho de Compra</h5>
    <button type="button" class="btn btn-default pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th>Fruta</th>
          <th>Qtd</th>
          <th>Valor</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.name }}</td>
          <td>{{ order.qtd }}</td>
          <td>R$ {{ order.price }}</td>
          <td>R$ {{ order.total }}</td>
        </tr>
        <tr>
          <td colspan="3"><b>Total</b></td>
          <td><b>R$ {{ totalOrder }}</b></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="closeOrder()">Finalizar compra</button>
  </div>
</ng-template>
